<#include "../copyright.tmpl"/>

package ${packageName};

<#if javaHelper.isSpectraDs3(packageName)>
import com.spectralogic.ds3client.commands.notifications.AbstractDeleteNotificationRequest;
</#if>
import java.util.UUID;

public class ${name} extends AbstractDeleteNotificationRequest {

    public ${name}(final UUID notificationId) {
        super(notificationId);
    }

    @Override
    public String getPath() {
        return ${path};
    }
}