<#include "../copyright.tmpl"/>

package ${packageName};

<#include "import_abstract_request.tmpl"/>
import com.spectralogic.ds3client.HttpVerb;
import org.apache.http.entity.ContentType;
import java.nio.channels.WritableByteChannel;
<#include "../imports.tmpl"/>

public class ${name} extends AbstractRequest {

    public static class Range {
        private final long start;
        private final long end;

        public Range(final long start, final long end) {
            this.start = start;
            this.end = end;
        }

        public long getStart() {
            return this.start;
        }

        public long getEnd() {
            return this.end;
        }
    }

    // Variables
    <#include "variables.tmpl"/>
    private final WritableByteChannel channel;
    private Range byteRange = null;

    // Constructor

    /**
     * @deprecated use {@link #${name}(${javaHelper.argTypeList(javaHelper.addArgument(javaHelper.addArgument(requiredArguments, optionalArguments), "Channel", "WritableByteChannel"))})} instead
     */
    @Deprecated
    public ${name}(${javaHelper.constructorArgs(javaHelper.addArgument(requiredArguments, "Channel", "WritableByteChannel"))}) {
        <#list requiredArguments as arg>
        this.${arg.getName()?uncap_first} = ${arg.getName()?uncap_first};
        </#list>
        this.channel = channel;
    }

    public ${name}(${javaHelper.constructorArgs(javaHelper.addArgument(javaHelper.addArgument(requiredArguments, optionalArguments), "Channel", "WritableByteChannel"))}) {
        <#list requiredArguments as arg>
        this.${arg.getName()?uncap_first} = ${arg.getName()?uncap_first};
        </#list>
        <#list optionalArguments as arg>
        this.${arg.getName()?uncap_first} = ${arg.getName()?uncap_first};
        </#list>
        this.channel = channel;

        this.getQueryParams().put("job", jobId.toString());
        this.getQueryParams().put("offset", Long.toString(offset));
    }

    <#include "with_constructors.tmpl"/>

    public ${name} withByteRange(final Range byteRange) {
        this.byteRange = byteRange;
        if (byteRange != null) {
            this.getHeaders().put("Range", buildRangeHeaderText(byteRange));
        }
        return this;
    }

    private static String buildRangeHeaderText(final Range byteRange) {
        return String.format("bytes=%d-%d", byteRange.getStart(), byteRange.getEnd());
    }

    <#include "getters_verb_path.tmpl"/>

    @Override
    public ContentType getContentType() {
        return ContentType.APPLICATION_OCTET_STREAM;
    }

    <#include "getters.tmpl"/>

    ${javaHelper.createGetter("ByteRange", "Range")}

    ${javaHelper.createGetter("Channel", "WritableByteChannel")}
}