<#include "../copyright.tmpl"/>

package ${packageName};

<#include "import_abstract_request.tmpl"/>
import com.spectralogic.ds3client.HttpVerb;
import com.spectralogic.ds3client.models.Contents;
import com.spectralogic.ds3client.models.delete.Delete;
import com.spectralogic.ds3client.models.delete.DeleteObject;
import com.spectralogic.ds3client.serializer.XmlOutput;

import java.io.ByteArrayInputStream;
import java.io.InputStream;
import java.util.ArrayList;
import java.util.List;
<#include "../imports.tmpl"/>

public class ${name} extends AbstractRequest {

    // Variables
    private final List<String> objects;
    <#list javaHelper.removeArgument(requiredArguments, "Delete") as arg>
    private final ${javaHelper.getType(arg)} ${arg.getName()?uncap_first};
    </#list>
    <#list optionalArguments as arg>
    private ${javaHelper.getType(arg)} ${arg.getName()?uncap_first};
    </#list>
    private boolean quiet = false;

    // Constructor
    public ${name}(${javaHelper.constructorArgs(javaHelper.addArgument(javaHelper.removeArgument(requiredArguments, "Delete"), "Objects", "List<String>"))}) {
        <#list javaHelper.removeArgument(requiredArguments, "Delete") as arg>
        this.${arg.getName()?uncap_first} = ${arg.getName()?uncap_first};
        </#list>
        this.objects = objects;
        this.getQueryParams().put("delete", null);
    }

    public ${name}(${javaHelper.constructorArgs(javaHelper.addArgument(javaHelper.removeArgument(requiredArguments, "Delete"), "Objs", "Iterable<Contents>"))}) {
        this(${javaHelper.argsToList(javaHelper.removeArgument(requiredArguments, "Delete"))}, contentsToString(objs));
    }

    <#include "with_constructors.tmpl"/>

    public ${name} withQuiet(final boolean quiet) {
        this.quiet = quiet;
        return this;
    }

    @Override
    public InputStream getStream() {

        final Delete delete = new Delete();
        delete.setQuiet(quiet);
        final List<DeleteObject> deleteObjects = new ArrayList<>();

        for(final String objName : objects) {
            deleteObjects.add(new DeleteObject(objName));
        }

        delete.setDeleteObjectList(deleteObjects);

        final String xmlOutput = XmlOutput.toXml(delete);
        final byte[] stringBytes = xmlOutput.getBytes();
        this.size = stringBytes.length;

        return new ByteArrayInputStream(stringBytes);
    }

    <#include "getters_verb_path.tmpl"/>

    ${javaHelper.createGetter("Objects", "List<String>")}

    ${javaHelper.createGetter("Quiet", "boolean")}

    <#include "getters.tmpl"/>
}