    public ${name}(${javaHelper.constructorArgs(
                         javaHelper.removeVoidArguments(
                              javaHelper.addArgument(requiredArguments, "NotificationId", "UUID")))}) {
        super(notificationId);

        <#list javaHelper.removeVoidArguments(requiredArguments) as arg>
        this.${arg.getName()?uncap_first} = ${arg.getName()?uncap_first};
        </#list>
<#include "constructor_get_query_params.tmpl"/>
    }
