<#include "../copyright.tmpl"/>

package ${packageName};

<#include "import_abstract_request.tmpl"/>
import com.spectralogic.ds3client.HttpVerb;
<#include "../imports.tmpl"/>

public class ${name} extends AbstractRequest {

    // Variables
    <#include "variables.tmpl"/>

    // Constructor
    <#include "constructor.tmpl"/>

    <#include "with_constructors.tmpl"/>

    <#include "getters_verb_path.tmpl"/>

    <#include "getters.tmpl"/>
}