<#include "copyright.tmpl"/>

package ${packageName};

import java.util.UUID;

public class ${name} extends AbstractDeleteNotificationRequest {

    public ${name}(final UUID notificationId) {
        super(notificationId);
    }

    @Override
    public String getPath() {
        return ${path};
    }
}