<#include "copyright.tmpl"/>

package ${packageName};

import com.spectralogic.ds3client.HttpVerb;
<#include "imports.tmpl"/>

public class ${name} extends AbstractRequest {

    // Variables
    private final List<String> objects;
    private final String bucketName;
    <#include "variables.tmpl"/>

    // Constructor
    public ${name}(${javaHelper.constructorArgs(javaHelper.addArgument(javaHelper.addArgument(requiredArguments, "Objects", "List<String>"), "BucketName", "String"))}) {
        this.bucketName = bucketName;
        this.objects = objects;
        <#list requiredArguments as arg>
        this.${arg.getName()?uncap_first} = ${arg.getName()?uncap_first};
        </#list>
        <#if operation??>
        this.getQueryParams().put("operation", "${operation.toString()?lower_case}");
        </#if>
    }

    <#include "with_constructors.tmpl"/>

    public Stream getContentStream() {
        //TODO
    }

    @Override
    public HttpVerb getVerb() {
        return HttpVerb.${helper.getHttpVerb(verb, action)};
    }

    @Override
    public String getPath() {
        return "/_rest_/bucket/" + this.bucketName;
    }

    <#include "getters.tmpl"/>
}