<#include "copyright.tmpl"/>

 using System;

 namespace Ds3.Calls
 {
     public class ${name} : Ds3Request
     {
         public ${name}() {

         }

         internal override HttpVerb Verb
         {
            get
            {
                return HttpVerb.${verb.toString()}
            }
         }

         internal override string Path
         {
            get
            {
                return "${path}";
            }
         }
     }
 }